/* stili di base */

h1{
    font-size: 2em;
}

p{
  margin: 0.5em 0; /* 0.5 sopra/sotto 0 destra/sinistra */
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

/* stili di base */

html {
    width: 500px;
    margin-left: auto;
    margin-right: auto;

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


body {
    margin: 0;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    background-image: url(./sfondo.png);
}

.header {
    background: linear-gradient(#0da3c5, #006d88);
    text-align: center;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 20px;

}

.Gino {
    list-style-type: none;
}

#Inter {
    font-size: 1.2em;
    color: white;
    padding-top: 15px;
    font-weight: bold;
}



.GG {
    font-family: 'Poppins', sans-serif;
}

/* vrvrv */

.Rossi {
    color: gray;
}

.pippo{
    color: gray;
    font-family: 'Poppins', sans-serif;
    
}

.fas fa-arrow-right {
    margin-right: 10px;
    margin-left: 10px;
}

main {
    background-color: white;
}

footer {
    background-color: gray;
}

.final {
    color: violet
}

.clock {
    display: inline-block;
    padding-right: 10px
}

ul, li, a {
    text-align: center;
    font-size: 1.2em;
    line-height: 1.5;
    padding-top: 10px;
    color: white;
}

#logo {
    margin-top: 15px;
}

.fer {
    font-family: 'Poppins', sans-serif;
    color: black;
    text-align: center;
    font-size: auto;
}

table {
    border: 1px solid transparent;
    border-collapse: collapse;
    /*border-collapse sceglie come comportarsi quando due bordi sono appiccicati*/
    padding: auto;
    margin: auto;
   
  }

  td {
    border: 1px solid transparent;
    padding: 5px;
    min-width: 80px;
  }


  tbody {
    font: inherit;
    vertical-align: baseline;
    
    width: 350px;
    height: 250px;
  }

  thead {
    display: table-header-group;
  }
  
  tbody tr {
    border-top: 1px solid silver;
  }

  thead tr {
    background-color: #3466cc;
    color: white;
    height: 40px;
}

.table {
    margin: auto;
}

caption {
    margin-top: 20px;
    font-weight: bold;
}

th {
    text-align: center;
    padding: 1.2em;
    border-right: 1px solid silver;
}

.Gandalf {
    background-color: rgb(225, 220, 220);
}